<script>
    $.ajax({
        url: 'http://192.168.2.8/Novo%20Projeto/search.json',
        method: 'GET',
        dataType: 'json'
    }).done(function (result) {
        console.log(result);
        console.log('ajax');

        for (let i = 0; i < result.length; i++) {
            console.log('Laço');
            $('.containerSearch').prepend(`

                <div class="card mb-3" style="max-width: 810px;">
                <div class="row g-0">

                <div class="col-md-7">
                <div class="card-body">
                <h5 class="card-title">${result[i].titulo}</h5>

                <p class="card-text">
                ${result[i].noticia}
                </p>
                <a href="/Novo%20Projeto/noticia/${result[i].id}/" class="btn btn-primary">Ver Notícia</a>
                </div>
                </div>

                <div class="col-md-5">
                <img src="../assets/img/${result[i].capa}" class="img-fluid rounded-end" alt="...">
                </div>

                </div>
                </div>

            `)
        }

    }).fail(function () {
        alert('Erro Ajax Contate o Administrador');
    })


</script>

<div class="containerSearch">

</div>